@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-image: url('/Images/aboutme_background.png'); 
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
    color: white;
}

/* Header and nav */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin: 0 2rem;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-align: center;
}

nav a:hover {
    color: lightcoral;
    border-bottom: 3px solid lightcoral;
}

/* About Me Title */
.webdev_skills {
    display: flex;
    justify-content: flex-start;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: auto;
    margin-top: 50px; 
    padding-left: 50px;           /* Take up the full height of the viewport */
    text-align: left;       /* Center the text inside the box */
}

/* Styling for h1 */
.webdev_skills h1 {
    font-size: 4rem;          /* Adjust the size as needed */
    color: #fff;              /* Example: white text */
    margin: 0;
    padding: 0;
}
.webdev_skills h2 {
    margin-top: 100px;         /* Moves h2 down */
    margin-left: -370px;        /* Moves h2 to the right */
    font-size: 2rem;        /* Adjust size if needed */
    color: #ffffff;              /* Optional: change color */
}
.custom-line {
    height: 5px;
    background-color: transparent;
    width: 80%;
    max-width: 1000px;
    margin: 70px auto 0 auto; /* Moves line down by 50px */
    border-radius: 5px;
}
.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1%;
    padding-left: 63%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
}
  .checked{
    color: orange;
  }
.web_dev_img{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 5%;
}
.skill h3{
    margin: 0px;
    padding: 10px;
    font-size: 2rem;
    margin-top: -342px;
    margin-left: 45px;
}
.bar{
    max-width: 300px; /* Adjust to your desired width */
    width: 100%;
    float: left;
    margin-left: 115px;
    margin-top: -35px;
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

}
.bar:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    background-color: #444;  /* Optional: change color on hover */
}
.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(28, 76, 249) 0%, rgb(103, 252, 252) 100%);
}
.webdev{
    width: 50%;
    animation: webdev 3s;
}
@keyframes webdev{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
/* .bar span {
    color: #fff;
    font-size: 0.9rem;
    padding-left: 10px;
    display: inline-block;
    line-height: 20px;
}
.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    width: 100%;
}

.bar:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
}

.bar-html { width: 80%; }
.bar-css { width: 70%; }
.bar-js { width: 90%; } */
.web-dev-img-container {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 1%;
    margin-top: -350px;         /* Moves h2 down */
}
.web-dev-img-container p{
    font-size: 2rem; /* Sets the font size */
    color: white;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    padding-right: 50px;
}
.custom-line2 {
    height: 1px;
    background-color: transparent;
    width: 10%;
    max-width: 1000px;
    margin: 110px auto 0 auto; /* Moves line down by 50px */
    border-radius: 5px;
}


/*----------------------------------------------------------------------------------------------*/


.c-lang-skills{
    display: flex;
    justify-content: flex-start;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: auto;
    margin-top: 50px; 
    padding-left: 50px;           /* Take up the full height of the viewport */
    text-align: left;  
}
.c-lang-skills h1{
    font-size: 4rem;          /* Adjust the size as needed */
    color: #fff;              /* Example: white text */
    margin: 0;
    padding: 0;
}
.c-lang-skills h2 {
    margin-top: 100px;         /* Moves h2 down */
    margin-left: -240px;        /* Moves h2 to the left */
    font-size: 2rem;           /* Adjust size if needed */
    color: #ffffff;            /* Optional: change color */
}
.c-stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1.3%;
    padding-left: 63%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
}
.c_language_img{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 2%;
}
.c-skill{
    margin: 0px;
    padding: 10px;
    font-size: 2rem;
    margin-top: -450px;
    margin-left: 45px;
}
.c-bar{
    max-width: 300px; /* Adjust to your desired width */
    width: 100%;
    float: left;
    margin-left: 70px;
    margin-top: -26px;
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.c-bar:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    background-color: #444;  /* Optional: change color on hover */
}
.c-bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(15, 0, 87) 0%, rgb(185, 193, 248) 100%);
}
.cLanguage{
    width: 30%;
    animation: c_language 3s;
}
@keyframes c_language{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
.c-lang-img{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 1%;
    margin-top: -50px; 
}
.c-lang-img p{
    font-size: 2rem;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    padding-right: 50px;
}
.c-lang-text {
    font-size: 1rem;
    color: white;
}
.custom-line3 {
    height: 1px;
    background-color: transparent;
    width: 10%;
    max-width: 1000px;
    margin: 110px auto 0 auto; /* Moves line down by 50px */
    border-radius: 5px;
}

/*----------------------------------------------------------------------------------------------*/

.python-skills{
    display: flex;
    justify-content: flex-start;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: auto;
    margin-top: 50px; 
    padding-left: 50px;           /* Take up the full height of the viewport */
    text-align: left;   
}
.python-skills h1{
    font-size: 4rem;          /* Adjust the size as needed */
    color: #fff;              /* Example: white text */
    margin: 0;
    padding: 0;
}
.python-skills h2{
    margin-top: 100px;         /* Moves h2 down */
    margin-left: -840px;        /* Moves h2 to the left */
    font-size: 2rem;           /* Adjust size if needed */
    color: #ffffff;            /* Optional: change color */
}
.python-stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1.3%;
    padding-left: 63%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
}
.py_lang_img{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 0%;
}
.py-skill{
    margin: 0px;
    padding: 10px;
    font-size: 2rem;
    margin-top: -450px;
    margin-left: 45px;
}
.py-bar{
    max-width: 300px; /* Adjust to your desired width */
    width: 100%;
    float: left;
    margin-left: 70px;
    margin-top: -26px;
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.py-bar:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    background-color: #444;  /* Optional: change color on hover */
}
.py-bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(247, 255, 2) 0%, rgb(82, 177, 255) 100%);
}
.pyLanguage{
    width: 40%;
    animation: py_language 3s;
}
@keyframes py_language{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
.py-lang-img{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 1%;
    margin-top: -50px; 
}
.py-lang-img p{
    font-size: 2rem;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    padding-right: 50px;
}
.py-lang-text{
    font-size: 1rem;
    color: white;
}
.custom-line4 {
    height: 1px;
    background-color: transparent;
    width: 10%;
    max-width: 1000px;
    margin: 110px auto 0 auto; /* Moves line down by 50px */
    border-radius: 5px;
}

/*----------------------------------------------------------------------------------------------*/

.java-skills{
    display: flex;
    justify-content: flex-start;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: auto;
    margin-top: 50px; 
    padding-left: 50px;           /* Take up the full height of the viewport */
    text-align: left;   
}
.java-skills h1{
    font-size: 4rem;          /* Adjust the size as needed */
    color: #fff;              /* Example: white text */
    margin: 0;
    padding: 0;
}
.java-skills h2{
    margin-top: 100px;         /* Moves h2 down */
    margin-left: -95px;        /* Moves h2 to the left */
    font-size: 2rem;           /* Adjust size if needed */
    color: #ffffff;            /* Optional: change color */
}
.java-stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1.3%;
    padding-left: 63%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
}
.java_lang_img{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 0%;
}
.java-skill{
    margin: 0px;
    padding: 10px;
    font-size: 2rem;
    margin-top: -450px;
    margin-left: 45px;
}
.java-bar{
    max-width: 300px; /* Adjust to your desired width */
    width: 100%;
    float: left;
    margin-left: 70px;
    margin-top: -26px;
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.java-bar:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    background-color: #444;  /* Optional: change color on hover */
}
.java-bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(255, 230, 106) 0%, rgb(252, 211, 2) 100%);
}
.javaLanguage{
    width: 36%;
    animation: java_language 3s;
}
@keyframes java_language{
    0%{
        width: 0%;
    }
    100%{
        width: 36%;
    }
}
.java-lang-img{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 1%;
    margin-top: -50px; 
}
.java-lang-img p{
    font-size: 2rem;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    padding-right: 50px;
}
.java-lang-text{
    font-size: 1rem;
    color: white;
}
